extends ../layout.pug

block content
    .nav.d-flex.justify-content-between
        div.d-flex.flex-row
            a.nav-link(href='/articles') All
            if (user)
                a.nav-link(href='/articles/my_articles') My Articles
                a.nav-link(href='/articles/new') New 
                    i.far.fa-plus-square
            else
                a.nav-link.disabled(href='/articles/my_articles') My Articles
                a.nav-link.disabled(href='/articles/new') New 
                    i.far.fa-plus-square 
        form.form-inline(method='POST' action="/articles/search")
            label.mr-2(for='query') Keyword Search:  
            input.form-control.mr-2(type='text' name='query' required)
            button.btn.btn-outline-dark.nav-link(type='submit') 
                i.fas.fa-search

    .card.d-flex.flex-row.p-2
        small #{articles.length} total articles
    .container-fluid
        .row.d-flex.flex-wrap
            each article in articles
                .card.w-25
                    a.article-list-item.card-body.text-dark(href=`/articles/${article.id}`)
                        h5.card-title #{article.title}
                        p.card-text.text-muted #{article.createdBy.name}
                        each tag in article.tags
                            form.d-inline-block.mr-1(action="/articles/search", method="POST")
                                input(type='hidden' name='query' value=`${tag}`)
                                button.btn.btn-light.btn-sm.text-flame(type='submit') #{tag}

