extends ../layout.pug

block content
    .nav.d-flex.justify-content-between
        a.nav-link(href='/articles') Back
        form.form-inline(method='POST' action="/articles/search")
            label.mr-2(for='query') Keyword Search:  
            input.form-control.mr-2(type='text' name='query' required)
            button.btn.btn-outline-dark.nav-link(type='submit') 
                i.fas.fa-search

    div.text-flame #{articles.length} matching articles found.
    if (articles.length < 1)
        p Please try again.
    .list-group
        each article in articles
            if (article.read)
                a.list-group-item.list-group-item-action.border-shadow(href=`/articles/${article.id}`) #{article.title}                
            else 
                    a.list-group-item.list-group-item-action.border-flame(href=`/articles/${article.id}`) #{article.title}

