extends ../layout.pug

block content
    .nav.d-flex.justify-content-between
        a.nav-link(href='/videos') Back
        form.form-inline(method='POST' action="/videos/search")
            label.mr-2(for='query') Keyword Search:  
            input.form-control.mr-2(type='text' name='query' required)
            button.btn.btn-outline-dark.nav-link(type='submit') 
                i.fas.fa-search

    .card.d-flex.flex-row.p-2
        small #{videos.length} videos found.
    .container-fluid
        .row.d-flex.flex-wrap
            each video in videos
                .card.w-25
                    a.video-list-item.card-body.text-dark(href=`/videos/${video.id}`)
                        h5.card-title #{video.title}
                        p.card-text.text-muted #{video.createdBy.name}
                        each tag in video.tags
                            form.d-inline-block.mr-1(action="/videos/search", method="POST")
                                input(type='hidden' name='query' value=`${tag}`)
                                button.btn.btn-light.btn-sm.text-flame(type='submit') #{tag}

